<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ch04_ex2_AreaAndPerimeter/src/murach/rectangle/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="murach.rectangle.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ch04_ex2_AreaAndPerimeter"/>
</launchConfiguration>
